.wrapper {
    min-width:100%;
    min-height:100%;
}
#Title {
    text-align:center;
}

.searchBox {
    text-align:right;
    padding:15px 0 25px 0;
}

.MovieBorder {
    position:relative;
    width:75%;
    margin:auto;
    border-top: 1px solid grey;
}

.movieNav {
    text-align:right;
}

.bottomNav {
    padding-top:10px;
    text-align:right;
}

.reviewbtn {
   float:right;
   padding: 20px 0 15px 0px;
}

.reviews {
    padding:30px 0px 15px 25px;
}

.movieRow {
    padding:10px 30px 10px 0px;

}

