.starFade{
    background-image:url('../Images/StarFade.gif');
    min-width:20px;
    min-height:20px;
    display:inline-block;
    cursor:pointer;
}

.starGlow{
    background-image:url('../Images/starglow.gif');
    min-width:20px;
    min-height:20px;
    display:inline-block;
    cursor:pointer;
}

/*N does not have the cursure pointer*/
.starFadeN{
    background-image:url('../Images/StarFade.gif');
    min-width: 20px;
    min-height:20px;
    display:inline-block;
}

.starGlowN{
    background-image:url('../Images/starglow.gif');
    min-width:20px;
    min-height:20px;
    display:inline-block;
}