.starFade{
    background-image:url('../Images/StarFade.gif');
    background-position:center;
    width:30px;
    height:30px;
    display:inline-block;
    cursor:pointer;
}

.starGlow{
    background-image:url('../Images/starglow.gif');
    background-position:center;
    width:30px;
    height:30px;
    display:inline-block;
    cursor:pointer;
}

/*N does not have the cursure pointer*/
.starFadeN{
    background-image:url('../Images/StarFade.gif');
    background-position:center;
    width: 30px;
    height:30px;
    display:inline-block;
}

.starGlowN{
    background-image:url('../Images/starglow.gif');
    background-position:center;
    width:30px;
    height:30px;
    display:inline-block;
}